// Colors
$main-team-color: #F66733;
$active-text: white;
$text-main-color: #323c4c;
$text-light-color: #9da3ab;
$stat-background: white;
$background-color: #f1f1f1;

// Sizes
$sidebar-item-size: 50px;
$sidebar-icon-size: 30px;
