// Colors
$main-team-color: #1E4D2B;
$active-background: #C8C372;
$active-text: white;
$text-main-color: #323c4c;
$text-light-color: #9da3ab;
$text-lighter-color: #9da3ab1a;
$stat-background: white;
$background-color: #f1f1f1;
$indicator-blue: #286aaf;
