@import '../modules/themes.scss';

$card-size: 100px;

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-card {
  width: $card-size;
  height: $card-size + $card-size/2;
  float: left;
  margin: 5px;
  
  .player-image {
    height: $card-size;
    background-size: cover;
    border-radius: $card-size/2;
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 5px 1px $text-light-color;
    }
  }
  
  .first-name {
    text-align: center;
    font-size: 10px;
    height: 12px;
  }
  
  .last-name {
    text-align: center;
    font-weight: bold;
    height: 16px;
  }
  
  .player-number {
    text-align: center;
    font-size: 10px;
    height: 12px;
    color: $text-light-color;
  }
}

.stat {
  height: $card-size*0.4;
  background-color: $stat-background;
  width: $card-size*0.4;
  font-size: $card-size*0.2;
  border-radius: 50%;
  float: right;
  margin-top: $card-size*0.6;
  color: $text-main-color;
  font-weight: bold;
  @extend .centered-content;
}

.position-card {
  width: $card-size;
  height: $card-size + $card-size/2;
  float: left;
  margin: 5px;
  &:hover {
    cursor: pointer;
  }
  .position-name {
    height: $card-size;
    font-size: $card-size/2;
    color: $main-team-color;
    p {
      @extend .centered-content;
    }
  }
  .position-desc {
    text-align: center;
    font-weight: bold;
    height: 16px;
  }
}