.explosive_page_wrapper {
  & > div {
    height: 100%;
    width: 100%;
  }
}

.player-content {
  .assessement_reports-container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;

    .assessement_report-toggler {
      padding: 0 15px;
      cursor: pointer;
      border-right: 2px solid black;

      &:first-of-type {
        border-right: none;
      }
    }
  }
}
