#grid-page-wrapper > .header {
  background-color: $main-team-color;
  position: sticky;
  top: 0;
  z-index: 9999;
}

$logo-size: 200px;

.overwrite-semantic-card {
  box-shadow: none !important;
  border: none !important;
  &:first-child {
    border-radius: 0;
  }
}

.ui.card {
  height: $logo-size;
  width: 100% !important;
  padding: 20px;
  background-color: $main-team-color !important;
  @extend .overwrite-semantic-card;
  .image {
    border-radius: 20px !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  .content {
    border: none !important;
    .header {
      color: $active-text !important;
      font-size: 30px !important;
    }
    .meta {
      color: $active-text !important;
      font-size: 18px !important;
      padding-top: 10px !important;
    }
  }
}

.ui.breadcrumb a.section {
    color: $active-text;
}

.user-card {
  position: absolute;
  top: 5px;
  right: 15px;
}

.header {
  #logo-card {
    .content {
      padding: 0 20px;

      .header {
        margin-top: 0;
      }
    }
  }

  .filters {
    display: flex;
    justify-content: center;
    align-items: center;

    #menu {
      .icon {
        color: $stat-background;
      }

      .section {
        padding: 3px 7px 1px 7px;
        border-radius: 10px;
        line-height: 1.4;

        &.active {
          background: $active-background;
        }
      }
    }

    .logo img {
      width: auto;
      height: 65px;
    }
  }

  .user {
    .user-card {
      padding: 10px;

      .sub.header {
        background: $stat-background;
        padding: 3px 13px;
        font-weight: bold;
        color: $main-team-color;
        border-radius: 2px;
      }

      .button {
        border: 2px solid $stat-background;
        padding: 5px 15px;
        color: $stat-background;
        font-weight: bolder;
        border-radius: 10px;

        &:hover {
          color: $main-team-color;
        }
      }
    }
  }
}
