@import '../modules/themes.scss';

body {
  background-color: $background-color;
}

#grid-page-wrapper > .header {
  background-color: $main-team-color;  
}

.main {
  padding: 0 15px;
  .player-content {
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
  }
}
