$logo-size: 150px;

.horizontal {
  height: $logo-size;
  .image {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
}
