@import '../modules/themes.scss';

.left-centered-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ui.vertical.menu {
  width: 100% !important;
  background-color: $background-color;
  @extend .overwrite-semantic-card;
  .item {
    @extend .overwrite-semantic-card;
    &:before {
      width: 0;
    }
    .sidebar-item {
      height: $sidebar-item-size;
      @extend .overwrite-semantic-card;
      @extend .left-centered-content;
      .icon {
        width: $sidebar-icon-size;
        margin-right: $sidebar-icon-size/2;
      }
    }
  }
  .sidebar-active {
    color: $active-text !important;
    background-color: $main-team-color !important;
  }
}
