<div class="ui search" id="{{ id }}">
  <div class="ui icon fluid input">
    <input class="prompt search field" type="text" placeholder="" oninput="null"/>
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>
<script>  
  $('#{{ id }}').search({
    apiSettings: {
      url: '{{ search_api_url }}&q={query}'
    },
    maxResults: 40,
    cache: false,
    onResults: function(response) {
      let players = response.results.filter(entry => entry.search == 'player')
      let positions = response.results.filter(entry => entry.search == 'position')
      if (response.results.length > 0) {
        let ids_player = players.map(entry => entry.player_id);
        let ids_position = positions.map(entry => entry.position);
        let ids = ids_player.concat(ids_position);
        let elements = document.querySelectorAll(ids.map(id => `#${id}`).join(', '));
        $('{{ player_card_class }}').hide();
        $('{{ position_card_class }}').hide();
        $(elements).show();
      } 
      if (players.length == 0) {
        $('{{ player_card_class }}').hide();
      }
      if (players.length == 0) {
        $('{{ position_card_class }}').hide();
      }
    },
    onResultsClose: function() {
      let search_value = $('#{{ id }}').search('get value');
      if (search_value === '') {
        $('{{ player_card_class }}').show();
        $('{{ position_card_class }}').show();
      }
    }
  })             
</script>