.balance_chart {
  min-height: 600px;
  max-height: 650px;

  min-height: 600px;
  position: relative;

  .balance_stat {
    position: relative;
  }

  .title {
    color: $text-main-color;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .header {
    text-align: center;
    color: $text-main-color;
    font-size: 25px;
    border: 2px solid $text-main-color;
    border-radius: 4px;
    font-weight: bolder;
    line-height: 32px;
    background: #F58A2D;
  }

  .total {
    color: $text-main-color;
    font-size: 50px;
    font-weight: bolder;
    line-height: 50px;
    text-align: center;
    font-family: $font-wide;
  }

  .stat_value {
    .score {
      text-align: center;
      background: #FEFCFD;
      font-size: 30px;
      font-weight: bolder;
      line-height: 32px;
      cursor: pointer;
      color: #6E7681;
      border-radius: 4px;
      
      &[data-color = "red"] {
        border: 2px solid #ED1C24;
        border-radius: 4px;
        color: #ED1C24;
      }
        
      &[data-color = "yellow"] {
        border: 2px solid #FBEC5D;
        border-radius: 4px;
        color: #FBEC5D;
      }
        
      &[data-color = "green"] {
        border: 2px solid #39B54A;
        border-radius: 4px;
        color: #39B54A;
      }
        
      &[data-color = "black"] {
        border: 2px solid #6E7681;
        border-radius: 4px;
        color: #6E7681;
      } 
    }
  }
  
  .exercise_value {
    text-align: left;
    color: $text-main-color;
    font-size: 22px;
    font-weight: bolder;
    line-height: 25px;
  }
}

@keyframes border-pulsate {
    0%   { border-color: $main-team-color; }
    50%   { border-color: $main-team-color; }
    75% { border-color: #B4C2D1; }
    100%   { border-color: $main-team-color; }
}
