.explosive_page_wrapper {
  & > div {
    height: 100%;
    width: 100%;
  }
}

.player-content {
  .assessment_reports-container {
    display: flex;
    justify-content: center;

    .assessment_report-toggler {
      padding: 0 15px;
      cursor: pointer;
      border-right: 2px solid black;

      &:last-of-type {
        border-right: none;
      }
    }
  }
}
