.pillar_chart {
  overflow: hidden;

  .ui.progress .bar {
      height: 2.35em;
  }

  .title_label {
    color: #2E3D49;
    font-size: 20px;
    font-weight: bolder;
    margin: .5px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-wide;
  }

  .chart_icon {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      height: 100%;
    }
    .banner {
      height: 100%;
    }
  }

  .stat_score {
    text-align: center;
    color: $text-main-color;
    font-size: 40px;
    font-weight: bolder;
    line-height: 50px;
    margin: .5px;
    cursor: pointer;
  }
}
